:root {
--primary-color: #326373;
--secondary-color: #5C9EAD;
--accent-color: #E29774;
--font-color: #FFFFFF;
--border-color: #EEEEEE;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}

/* body style  */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header styling */
header {
   padding: 20px 35px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 a {
    color:var(--font-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header ul li a {
    color: var(--font-color);
    padding: 10px 15px;
}

header a {
    text-decoration: none;
}

/* hero style  */

.hero {
    background-image: url(../images/dan-hero.jpg);
    min-height: 500px;
    background-attachment:fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.hero-tagline {
    background-color: var(--primary-color);
    color: var(--font-color);
    display:flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* footer style  */
footer {
    background-color: var(--accent-color);
}