:root {
--primary-color: #326373;
--secondary-color: #5C9EAD;
--accent-color: #E29774;
--font-color: #FFFFFF;
--border-color: #EEEEEE;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}

/* body style  */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header styling */
header {
   padding: 20px 35px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 a {
    color:var(--font-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header ul li a {
    color: var(--font-color);
    padding: 10px 15px;
}

header a {
    text-decoration: none;
}

/* hero style  */

.hero {
    background-image: url(../images/dan-hero.jpg);
    min-height: 500px;
    background-attachment:fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-tagline {
    background-color: var(--primary-color);
    color: var(--font-color);
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 3.5%;
    border-radius: 10px;
}

/* sections styling */
.section-title{
    color:var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: 5px;
    padding: 60px;
    font-size: 30px;
    align-items: center;
}

.flex-row {
    display: flex;
}

/* About Me */
.about-me{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}

.about-me p {
color: var(--primary-color);
font-size: 20px;
margin: 10%;
}

.bio {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-left: medium solid var(--primary-color);
}


/* Projects */
.projects-group {
    background-color: var(--secondary-color);
    display:flex;
    align-content: center;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}

.projects-group h2 {
    color: var(--accent-color);
}

.project-details{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-left: medium solid var(--primary-color);
}

.project-class-big{
    margin: auto;
    position:relative;

}

.project-class-big img {
max-width: 100%;
opacity: 80%;
}

.project-class-small{
margin: auto;
position: relative;
}

.project-class-small img {
    max-width: 100%;
    opacity: 80%;
}

.bottom-left{
        position: absolute;
        bottom: 8px;
        left: 16px;
        font-size: 18px;
}

/* Contact */

/* footer style  */
footer {
    background-color: var(--accent-color);
}